.list {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
    max-height: 100%;
}

.list .item {
    display: flex;
    flex-direction: row;
    min-height: 48px;
    max-height: 48px;
    padding: 8px 16px;
    align-items: center;
    cursor: pointer;
    border-radius: 2px;
}

.list .item:hover {
    background-color: var(--divider-black);
}

.list .item.selected{
    background-color: var(--divider-black);
}

.list .item .icon.avatar {
    display: flex;
    margin: 0 16px 0 0;
    color: var(--secondary-text-black);
}

.list .item .box {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 16px;
}

.list .item .box .stringPrimary {
    width: 100%;
    font-size: 16px;
    color: var(--primary-text-black);
}

.list .item .box .stringSecondary {
    display: flex;
    width: 100%;
    font-size: 12px;
    color: var(--secondary-text-black);
}

.list .item .icon.action {
    display: flex;
    font-size: 24px;
    color: var(--divider-black-active);
}