#toast{
    visibility: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-text-black);
    border-radius: 2px;
    min-width: 250px;
    min-height: 48px;
    padding: 0 24px;
    left: 48px;
    bottom: 48px;
    box-shadow: var(--shadow-5);
    z-index: 1;
}

#toast .message{
    font-size: var(--mh3);
    color: var(--primary-text-white);
}

#toast .action{
    margin-left: 48px;
    min-height: 48px;
    background: transparent;
    color: var(--yellow);
    cursor: pointer;
    font-size: var(--mh3);
}

#toast.show{
    visibility: visible;
    animation-timing-function: var(--sharp-curve);
    -webkit-animation: toastIn 0.5s, toastOut 0.5s 2.5s;
    -o-animation: toastIn 0.5s, toastOut 0.5s 2.5s;
    animation: toastIn 0.5s, toastOut 0.5s 2.5s;
}