<div class="card" data-class="MCardBase">

    <div class="avatar" data-class="MCardAvatarBase">
        <div class="boximg">
            <div data-property="imageAvatar"></div>
        </div>
        <div class="box">
            <div class="title" data-property="stringTitle">Title</div>
            <div class="subtitle" data-property="stringSubtitle" style="display: none;">Subhead</div>
        </div>
    </div>

    <div class="media" data-class="MCardMediaBase">
        <div data-property="imageMedia"></div>
    </div>

    <div class="boxtitle" data-class="MCardTitleBase">
        <div class="title" data-property="stringTitle">Title goes here</div>
        <div class="subtitle" data-property="stringSubtitle" style="display: none;">Subtitle here</div>
    </div>

    <div class="supporting" data-class="MCardSupportingBase"></div>

    <div class="actions" data-class="MCardActionsBase">
        <div class="left" data-property="itemsLeft"></div>
        <div class="center" data-property = "itemsCenter"></div>
        <div class="right" data-property="itemsRight"></div>
    </div>


    <div class="media" data-class="MCardAboveBase">
        <div data-property="imageMedia"></div>
        <div class="above" data-property="itemsAbove"></div>
    </div>

    <div class="vertical" data-class="MCardVerticalBase">

        <!--<div data-property="itemTitle"></div>-->

        <!--<div class="boxtitle" data-property="itemsTitle">-->
            <!--<div class="title" data-property="stringTitle">Title goes here</div>-->
            <!--<div class="subtitle" data-property="stringSubtitle">Subtitle here</div>-->
        <!--</div>-->

        <!--<div class="media">-->
        <!--class="media large"-->
        <!--class="media xlarge"-->
            <!--<div data-property="imageMedia"></div>-->
            <!--<img src="google4.png" alt="">-->
        <!--</div>-->

        <!--<div data-property="itemsAction"></div>-->
    </div>

</div>