<div class="input" data-class="MInputBase">

    <div class="icon" data-property="iconMain" style="display: none;"></div>

    <div class="box">
        <label data-property="stringLabel" style="display: none;"></label>
        <input data-property="input"/>

        <div class="icon button-icon" data-property="stringAction"  style="display: none !important;"></div>
        <div class="helper"           data-property="stringHelper"  style="display: none;"></div>
    </div>

</div>