<div class="list" data-class="MListBase">

    <div class="item" data-class="MListItemBase">
        <div class="icon avatar" data-property="iconAvatar" style="display: none;"></div>
        <div class="box">
            <div class="stringPrimary"   data-property="stringPrimary"></div>
            <div class="stringSecondary" data-property="stringSecondary" style="display: none;"></div>
        </div>
        <div class="icon action" data-property="iconAction" style="display: none;"></div>
    </div>

</div>