<div class="menu" data-class="MMenuBase">

    <div class="icon button-icon" data-property="stringIcon">more_vert</div>

    <div class="items" data-property="items">

        <div class="item" data-class="MMenuItemBase">
            <div class="icon" data-property="stringIcon" style="display: none"></div>
            <div class="text" data-property="stringItem"></div>
        </div>

    </div>
</div>