<div class="navbar" data-class="MNavbarBase">

    <div class="left" data-property="itemsLeft">
        <div data-property="brand" style="display: none"></div>
    </div>

    <div class="center" data-property="itemsCenter">
    </div>

    <div class="right" data-property="itemsRight">
    </div>

</div>