<div class="progress" data-class="MProgressIndeterminateBase">
    <div class="indeterminate"></div>
</div>

<div class="progress" data-class="MProgressDeterminateBase">
    <div class="determinate" style="width: 50%" data-property="progressValue"></div>
</div>