.text{
    font-size: var(--text);
}

.mh1{
    font-size: var(--mh1);
}

.mh2{
    font-size: var(--mh2);
}

.mh3{
    font-size: var(--mh3);
}

.mh4{
    font-size: var(--mh4);
}

.mh5{
    font-size: var(--mh5);
}

.mh6{
    font-size: var(--mh6);
}