.navbar{
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    align-items: center;
    padding: 0 15px;
    -webkit-box-shadow: var(--shadow-2);
    -moz-box-shadow: var(--shadow-2);
    box-shadow: var(--shadow-2);
    min-height: 48px;
}

.navbar .left{
    display: flex;
    align-items: center;
}

.navbar .left img{
    height: 40px;
}

.navbar .center{
    display: flex;
    align-items: center;
}

.navbar .right{
    display: flex;
    align-items: center;
}