.button{
    height: 36px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 0 16px;
    color: var(--primary-text-black);
    background: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    position: relative;
    cursor: pointer;
}

.button:focus,
.button:hover{
    background-color: var(--divider-black);
}

.button:active{
    -webkit-transition: 250ms;
    -moz-transition: 250ms;
    -ms-transition: 250ms;
    -o-transition: 250ms;
    transition: all 250ms;
    transition-timing-function: var(--standard-curve);
    background-color: var(--divider-black-active);
}

.button.dense{
    font-size: 13px;
    height: 32px;
}

.button.disabled{
    opacity: 0.5;
    cursor: default;
}

.button.disabled:hover{
    background-color: initial;
}

.button.color{
    box-shadow: var(--shadow-1);
    color: var(--primary-text-white);
}

.button.color:hover{
    background-color: initial;
}

.button.color:active{
    -webkit-transition: 250ms;
    -moz-transition: 250ms;
    -ms-transition: 250ms;
    -o-transition: 250ms;
    transition: all 250ms;
    transition-timing-function: var(--standard-curve);
    box-shadow: var(--shadow-2);
}

.button.color.disabled{
    opacity: 0.5;
    cursor: default;
}

.button.color.disabled:hover{
    -webkit-transition: 250ms;
    -moz-transition: 250ms;
    -ms-transition: 250ms;
    -o-transition: 250ms;
    transition: all 250ms;
    transition-timing-function: var(--standard-curve);
    box-shadow: var(--shadow-1);
}

.button-icon{
    height: 36px;
    width: 36px;
    min-height: 36px;
    min-width: 36px;
    border-radius: 100%;
    color: var(--secondary-text-black);
    display: flex !important;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button-icon:hover{
    background-color: var(--divider-black);
}

.button-icon:active{
    -webkit-transition: 250ms;
    -moz-transition: 250ms;
    -ms-transition: 250ms;
    -o-transition: 250ms;
    transition: all 250ms;
    transition-timing-function: var(--standard-curve);
    background-color: var(--divider-black-active);
}

.button-icon.disabled{
    opacity: 0.5;
    cursor: default;
}

.button-icon.disabled:hover{
    background-color: initial;
}

.button-fab{
    height: 56px;
    width: 56px;
    min-height: 56px;
    min-width: 56px;
    max-height: 56px;
    max-width: 56px;

    border-radius: 100%;
    background-color: var(--divider-black);
    color: var(--secondary-text-black);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: var(--shadow-1);
}

.button-fab:active{
    -webkit-transition: 250ms;
    -moz-transition: 250ms;
    -ms-transition: 250ms;
    -o-transition: 250ms;
    transition: all 250ms;
    transition-timing-function: var(--standard-curve);
    box-shadow: var(--shadow-2);
    background-color: var(--divider-black-active);
}

.button-fab.disabled{
    cursor: default;
    opacity: 0.5;
}

.button-fab.disabled:active{
    -webkit-transition: 250ms;
    -moz-transition: 250ms;
    -ms-transition: 250ms;
    -o-transition: 250ms;
    transition: all 250ms;
    transition-timing-function: var(--standard-curve);
    box-shadow: var(--shadow-1);
    background-color: var(--divider-black);
}

.button .icon{
    margin: 0 2px;
}