<div class="item project" data-class="ItemProjectBase">
    <div class="MProgress" data-property="MProgress"></div>
    <div class="MMenu" data-property="MMenu"></div>
    <div class="icon" data-property="icon"></div>
    <div class="name" data-property="name"></div>
</div>