<div class="item prototype root"  data-class="ItemPrototypeRootBase">
    <div class="desktop show" data-property="itemDesktop"></div>
    <div class="mobile hide" data-property="itemMobile"></div>
    <div class="icon button-icon change" data-property="icon">swap_horiz</div>
</div>