<div class="item prototype" data-class="ItemPrototypeBase">
    <div class="MProgress" data-property="MProgress"></div>
    <div class="MMenu" data-property="MMenu"></div>
    <div class="status" data-property="status"></div>
    <div class="image" data-property="boxImage"></div>
    <div class="name" data-property="name"></div>
    <div class="icon type" data-property="type"></div>
</div>