<div class="view projects" data-class="ViewProjectsBase">
    <div data-property="MNavbar"></div>
    <div class="body">

        <div class="tools">
            <div class="MButton" data-property="MButton"></div>
            <div class="MState" data-property="MState"></div>
        </div>

        <div class="items project" data-property="itemsProject"></div>
    </div>
</div>