<div class="view project" data-class='ViewProjectBase'>

    <input type="file" id="fileprototype" data-property="filePrototype" style="display: none;"/>

    <div class="MNavbar" data-property="MNavbar"></div>

    <div class="body">

        <div class="left hide" data-property="barLeft">
            <div class="listHeading" data-property="listHeading"></div>
            <div class="MList" data-property="MList"></div>
            <div class="MInput" data-property="MInput"></div>
        </div>

        <div class="right">
            <div class="boxElements">
                <div class="MButton" data-property="MButton"></div>
                <div class="MStateDevice" data-property="MStateDevice"></div>
            </div>

            <div class="itemsPrototype" data-property="itemsPrototype"></div>
        </div>
    </div>
</div>