.menu {
    width: 36px;
    height: 36px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu .icon {
    font-size: var(--icon-md);
}

.menu .items {
    position: absolute;
    background-color: var(--white);
    border-radius: 2px;
    right: 0;
    top: 0;

    display: flex;
    flex-direction: column;
    min-width: 150px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 500ms;
    transition-timing-function: var(--sharp-curve);
}

.menu .items.show{
    opacity: 1;
    box-shadow: var(--shadow-2);
}

.menu .items .item {
    cursor: pointer;
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 36px;
}

.menu .items .item:hover {
    background-color: var(--divider-black);
}

.menu .items .item:active {
    background-color: var(--divider-black-active);
}

.menu .items .item .icon {
    color: var(--divider-black-active);
    font-size: var(--icon-sm);
    margin-right: 16px;
}

.menu .items .item .text {
    font-size: var(--subtitle);
    white-space: nowrap;
}