.view.session{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
}

.view.session .supporting .input{
    margin: 16px 0;
}