.input{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.input > .icon{
    color: var(--secondary-text-black);
    font-size: 24px;
    padding: 0 8px 8px 0;

    transition: all 500ms;
    transition-timing-function: var(--standard-curve);
}

.input.active > .icon{
    color: var(--accent-color);
}

.input .box{
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
}

.input .box::before{
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--accent-color);
    position: absolute;
    bottom: 0;

    transform: scaleX(0);

    transition: all 500ms;
    transition-timing-function: var(--standard-curve);
}

.input.active .box::before{
    transform: scaleX(1);
}

.input.error .box::before{
    transform: scaleX(1);
    background-color: var(--red);
}

.input .box::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--divider-black-active);
}

.input .box label{
    font-size: 16px;
    color: var(--secondary-text-black);

    transform: translateY(27px);

    transition: all 500ms;
    transition-timing-function: var(--standard-curve);
}

.input.active .box label{
    color: var(--accent-color);
}

.input.label .box label{
    font-size: var(--reference);
    transform: translateY(0);
}

.input.error .box label{
    color: var(--red);
}

.input .box input{
    background: transparent;
    color: var(--primary-text-black);
    padding-bottom: 8px;
    font-size: 16px;
}

.input .box .icon{
    position: absolute;
    right: 0;
    bottom: 8px;
    font-size: 24px;
    min-width: 24px;
    min-height: 24px;
    height: 24px;
    width: 24px;
    border-radius: 100%;
}

.input .box .helper{
    position: absolute;
    left: 0;
    bottom: -16px;
    color: var(--secondary-text-black);
    font-size: var(--reference);
}

.input.error .box .helper{
    animation-name: helperSet;
    animation-duration: 500ms;
    color: var(--red);
}

.input.reset .box .helper{
    animation-name: helperReset;
    animation-duration: 500ms;
    color: var(--secondary-text-black);
}