@keyframes color {
    100%,
    0% {
        stroke: var(--red);
    }
    40% {
        stroke: var(--blue);
    }
    66% {
        stroke: var(--green);
    }
    80%,
    90% {
        stroke: var(--orange);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut{
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes helperSet {
    0% {
        opacity: 1;
        transform: rotateX(0);
    }

    50% {
        opacity: 0.5;
        transform: rotateX(360deg);
    }

    100% {
        transform: rotateX(360deg);
        opacity: 1;
    }
}

@keyframes helperReset {
    0% {
        opacity: 1;
        transform: rotateX(0);
    }

    50% {
        opacity: 0.5;
        transform: rotateX(360deg);
    }

    100% {
        transform: rotateX(360deg);
        opacity: 1;
    }
}

@keyframes iconBlur {
    0% {
        background-color: transparent;
        opacity: 0;
    }

    50% {
        background-color: var(--divider-black-active);
        opacity: 0.4;
    }

    100% {
        background-color: transparent;
        opacity: 0;
    }
}

@keyframes loaderIn {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 55px;
        opacity: 1;
    }
}

@keyframes loaderOut {
    from {
        top: 55px;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes toastIn {
    from {bottom: 0; opacity: 0;}
    to {bottom: 48px; opacity: 1;}
}

@keyframes toastOut {
    from {bottom: 48px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}