*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    border: none;
    outline: none;
}

:root{

    --red:          #F44336;
    --pink:         #E91E63;
    --purple:       #9C27B0;
    --deep-purple:  #673AB7;
    --indigo:       #3F51B5;
    --blue:         #2196F3;
    --light-blue:   #03A9F4;
    --cyan:         #00BCD4;
    --teal:         #009688;
    --green:        #4CAF50;
    --light-green:  #8BC34A;
    --lime:         #CDDC39;
    --yellow:       #FFEB3B;
    --amber:        #FFC107;
    --orange:       #FF9800;
    --deep-orange:  #FF5722;
    --brown:        #795548;
    --grey:         #9E9E9E;
    --blue-grey:    #607D8B;
    --white:        #FFFFFF;
    --black:        #000000;

    --primary-text-black:   rgba(0,0,0, .87);
    --secondary-text-black: rgba(0,0,0, .54);
    --disabled-text-black:  rgba(0,0,0, .38);
    --divider-black-active:  rgba(0,0,0, .24);
    --divider-black:        rgba(0,0,0, .12);

    --primary-text-white:   rgba(255,255,255, 1);
    --secondary-text-white: rgba(255,255,255, .70);
    --disabled-text-white:  rgba(255,255,255, .50);
    --divider-white-active: rgba(255,255,255, .24);
    --divider-white:        rgba(255,255,255, .12);

    /* THEME LIGHT, DARK  */
    --light-theme-status-bar: #E0E0E0;
    --light-theme-app-bar: #F5F5F5;
    --light-theme-background: #FAFAFA;
    --light-theme-cards-dialogs: #FFFFFF;

    --dark-theme-status-bar: #000000;
    --dark-theme-app-bar: #212121;
    --dark-theme-background: #303030;
    --dark-theme-cards-dialogs: #424242;

    /* SHADOWS */
    --shadow-1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    --shadow-2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    --shadow-3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    --shadow-4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    --shadow-5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

    /* TEXT */
    --title: 2em;
    --subtitle: 1.4em;
    --text: 1em;
    --reference: .8em;

    --mh1: 3em;
    --mh2: 2em;
    --mh3: 1.5em;
    --mh4: 1em;
    --mh5: .8em;
    --mh6: .5em;

    /* ICONS SIZE */
    --icon-sm: 24px;
    --icon-md: 30px;
    --icon-lg: 40px;
    --icon-xl: 100px;

    /* MOTION - DURATION & EASING */
    /* Standard curve: Cambios de propiedad (crecimiento, contraccion) */
    --standard-curve: cubic-bezier(0.4, 0.0, 0.2, 1);

    /* Deceleration curve: Ingreso a pantalla */
    --deceleration-curve: cubic-bezier(0.0, 0.0, 0.2, 1);

    /* Acceleration curve: Salida de pantalla */
    --acceleration-curve: cubic-bezier(0.4, 0.0, 1, 1);

    /* Sharp curve: Salida de elementos que pueden regresar a la pantalla*/
    --sharp-curve: cubic-bezier(0.4, 0.0, 0.6, 1);
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url("support/fonts/Material-Icons.woff2") format('woff2');
}

.icon {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 32px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url("support/fonts/Roboto-Regular.ttf") format('truetype');
}