.loader{
    top: 55px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    width: 50px;
    left: 50vw;
    z-index: 999;
}

.loader.show{
    visibility: visible;
    animation-timing-function: var(--sharp-curve);
    animation: loaderIn 1s 0.5s;
}

.loader.hide{
    visibility: hidden;
    animation-timing-function: var(--sharp-curve);
    animation: loaderOut 1s 0.5s;
}

.loader .boxLoader {
    position: relative;
    margin: 0 auto;
    width: 100px;
}

.loader .boxLoader:before{
    content: '';
    display: block;
    padding-top: 100%;
}

.loader .boxLoader .circular {
    animation: rotate 2s linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.loader .boxLoader .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
}