@media screen and (max-width: 480px){
    .card{
        width: 100% !important;
        border-radius: 0 !important;
        margin: 0 !important;
        box-shadow: none !important;
        border-top: solid 1px var(--divider-black) !important;
        border-bottom: solid 1px var(--divider-black) !important;
    }

    .card .media{
        height: initial !important;
    }
}