.item.prototype {
    width: 150px;
    height: 103px;
    box-shadow: var(--shadow-2);
    border-radius: 2px;
    position: relative;
    z-index: 0;
    background-color: white;
}

.item.prototype .MProgress{
    position: absolute;
    top: 0;
}

.item.prototype .MMenu{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.item.prototype .status{
    border: none;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    cursor: pointer;
    position: absolute;
    background-color: var(--green);
    top: 4px;
    left: 4px;
    z-index: 1;
}

.item.prototype .image{
    position: absolute;
    width: 100%;
    height: 80px;
    overflow: hidden;
    border-radius: 2px;
}

.item.prototype .image img{
    width: 100%;
    overflow: hidden;
    border-radius: 2px;
}

.item.prototype .name{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: var(--primary-text-black);
    padding: 2px 0;
}

.item.prototype .type{
    position: absolute;

}