.item.prototype.root{
    position: relative;
}

.item.prototype.root .desktop {
    transition: all 1s;
}

.item.prototype.root .desktop.hide{
    position: absolute;
    top: 0;
    left: 16px;
    z-index: -1;
    opacity: 0.2;
}

.item.prototype.root .mobile{
    position: absolute;
    top: 0;
    left: 16px;
    z-index: -1;
    opacity: 0.2;
    transition: all 1s;
}

.item.prototype.root .mobile.show {
    z-index: 1;
    opacity: 1;
    top: 0;
    left: 0;
}

.item.prototype.root > .icon{
    font-size: 24px;
    position: absolute;
    bottom: -5px;
    z-index: 1;
    right: -30px;
}