.view.project{
    width: 100vw;
    height: 100vh;
}

.view.project > .body{
    display: flex;
    height: calc(100% - 48px);
}

.view.project > .body > .left{
    height: 100%;
    transition: all 1s;
    overflow: hidden;
    width: 220px;
}

.view.project > .body > .left.hide{
    width: 0;
}

.view.project > .body > .left .MList{
    width: 225px;
    height: calc(100% - 120px);
}

.view.project > .body  > .left > .listHeading{
    height: 60px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 2px var(--divider-black-active);
}

.view.project .body .left .MInput{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
}

.view.project > .body > .right{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0 50px;
}

.view.project > .body > .right > .boxElements{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    width: 100%;
}

.view.project > .body > .right > .itemsPrototype{
    width: 100%;
    height: calc(100% - 20%);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: center;
    overflow: auto;
}

.view.project > .body > .right > .itemsPrototype::after{
    content: "Agrega elementos aqui...";
    color: white;
    font-size: 50px;
    width: 100%;
    height: 100%;
    border-style: dashed;
    border-radius: 2px;
    border-width: 2px;
    border-color: var(--divider-black-active);
    background-color: var(--divider-black-active);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    display: none;
}
