.item.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item.project > .MProgress{
    width: 100%;
    position: absolute;
    top: 0;
}

.item.project > .MMenu{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 12px;
}

.item.project > .MMenu > .menu > .icon{
    position: absolute;
    right: 8px;
    top: 8px;
}

.item.project > .icon {
    font-size: 4em;
    color: var(--grey);
    cursor: pointer;

    transition: all 500ms;
    transition-timing-function: var(--standard-curve);
}

.item.project > .icon:hover{
    color: var(--accent-color-ligth);
}

.item.project > .icon:active{
    color: var(--accent-color-dark);
}

.item.project > .name{
    cursor: text;
}

.flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}