.view.projects{
    height: 100%;
    width: 100%;
}

.view.projects > .body{
    height: calc(100% - 48px);
}

.view.projects > .body > .tools{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    padding: 0 50px;
}

.view.projects > .body > .tools > .MButton{

}

.view.projects > .body > .tools >  .MState{
    display: flex;
    justify-content: flex-end;
}

.view.projects > .body > .items.project{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    height: calc(100% - 20%);
    overflow: auto;
    padding: 0 50px;
}