.state{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 28px;
    height: 28px;
    background-color: var(--divider-black);
    border-radius: 500px 500px;
}

.state .items{
    display: flex;
}

.state .items .item{
    color: var(--divider-black-active);
    font-size: var(--icon-sm);
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;

    position: relative;

    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
    transition-timing-function: var(--standard-curve);
}

.state .items .item::before{
    content: '';
    width: 48px;
    height: 48px;
    border-radius: 100%;
    position: absolute;
    top: -8px;
    left: -8px;
    background-color: transparent;
    z-index: -1;
}

.state .items .item.active{
    background-color: var(--accent-color);
    color: var(--white);
    transform: rotate(360deg);
}

.state .items .item.active::before {
    animation-name: iconBlur;
    animation-duration: 500ms;
    animation-timing-function: var(--standard-curve);
}